body{
    background-color: #3B3A39;
}
#mapMain {
    width: 80%;
    height: 400px;
    margin: 50px auto;
}
.mapboxgl-ctrl-geocoder {
    max-width: none;
    width: 80%;
    margin: auto;
}

#weatherOut{
    width: 80%;
    margin: auto;
    /*color: white;*/
}
#weatherIn{
    width: 100%;
    margin: auto;
}
#cityMain{
    color: white;
}
